.article-view-container {
  display: grid;
  grid-template-columns: auto 400px;
  margin-top: 34px;
}

.article-view-exit-container {
  grid-column: 1/3;
  margin-bottom: 50px;
}

.article-view-exit-container > button {
  position: fixed;
    top: 80px;
    left: 30px;
}

.av-main-header {
  display: grid;
  grid-template-columns: auto auto;
}

.article-view-main {
  max-width: 800px;
  margin: 0 auto;
}

.av-image {
  margin: 40px 0;
}

.av-image > img {
  width: 100%;
}

.av-details {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
}

.av-text {
  line-height: 2em;
}

.concepts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.av-title > h1{
  margin-left: 40px;
}

.related-article {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 8px;
}

.ra-author {
  margin-top: 20px;
}

.ra-title {
  font-weight: bold;
  cursor: pointer;
}

.concept-phrase {
  font-weight: bold;
  text-decoration: underline;
  color: green;
  /* text-decoration-color: ; */
}

.popup-title {
  font-size: large;
}

.popup-description {
  color: rgb(178, 180, 182);
}

.av-related-articles {
  margin-bottom: 40px;
}

pre {
  white-space: pre-wrap;
}
