.article-view-container {
  display: grid;
  grid-template-columns: auto 400px;
}

.article-view-exit-container {
  grid-column: 1/3;
  margin-bottom: 50px;
}


.av-main-header {
  display: grid;
  grid-template-columns: auto auto;
}

.article-view-main {
  max-width: 800px;
  margin: auto;
}

.av-image {
  margin: 40px 0;
}

.av-image > img {
  width: 100%;
}

.av-details {
  display: grid;
  grid-template-columns: 200px auto;
  grid-template-rows: auto auto;
}

.av-text {
  line-height: 2em;
}

.concepts {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.av-title > h1{
  margin-left: 40px;
}

.related-article {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px gray solid;
  border-radius: 8px;
}

.ra-author {
  margin-top: 20px;
}

.ra-title {
  font-weight: bold;
  cursor: pointer;
}