/* tooltip contianer (rename it) */


body{font-family:"Pontano Sans",sans-serif;background-color:#151617;color:#EEE}.viz{width:100vh;height:60vh;margin-bottom:30vh}.second{height:20vh}.container{max-width:1900px;margin:0 auto;text-align:center;width:100vh;height:90vh}.container--fluid{margin:0;max-width:100%;text-align:center}.container__row{display:flex;flex-wrap:wrap;justify-content:center}.col-1{flex-basis:50%}.col-2{flex-basis:100%}@media screen and (min-width: 1900px){__col-md-1{flex-basis:50%}__col-md-2{flex-basis:100%}}.dropdown-container{width:100%;height:100%}.dropdown-list{height:60vh;margin-left:20px;margin-right:20px}.dropdown-list ul{list-style-type:none;overflow:hidden;overflow-y:scroll;text-align:left;height:40vh;width:200px}.dropdown-list ul .list-item{margin-top:10px;margin-bottom:10px;width:180px;vertical-align:middle;text-align:left}.dropdown-list ul .list-item .label-text{width:100px;margin-left:20px;display:inline-block}.dropdown-list ul .list-item input{margin-left:10px;margin-right:10px}.dropdown-list ul .list-item .cbx{display:none}.dropdown-list ul .list-item .source-check{text-align:right;vertical-align:middle;position:relative;cursor:pointer;-webkit-tap-highlight-color:transparent;transform:translate3d(0, 0, 0)}.dropdown-list ul .list-item .source-check:before{content:"";position:relative;top:3px;left:3px;width:34px;height:14px;display:block;background:gray;border-radius:8px;transition:background .2s ease;margin-right:0}.dropdown-list ul .list-item .slider{position:absolute;top:0;left:0;width:20px;height:20px;display:block;background:white;border-radius:10px;box-shadow:0 3px 8px rgba(128,128,128,0.5);transition:all .2s ease}.dropdown-list ul .list-item .slider:before{content:"";position:absolute;display:block;margin:-18px;width:56px;height:56px;background:rgba(25,42,86,0.5);border-radius:50%;transform:scale(0);opacity:1;pointer-events:none}.dropdown-list ul .list-item .cbx:checked+.source-check:before{background:#dcdde1}.dropdown-list ul .list-item .cbx:checked+.source-check .slider{background:#273c75;transform:translateX(20px);transition:all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25),background 0.15s ease;box-shadow:0 3px 8px rgba(39,60,117,0.2)}.dropdown-list ul .list-item .cbx:checked+.source-check .slider:before{transform:scale(1);opacity:0;transition:all .4s ease}.dropdown-list ul::-webkit-scrollbar-thumb{background-color:#192a56}.dropdown-list ul::-webkit-scrollbar{width:6px;background-color:#F5F5F5}.dropdown-list input{margin-top:20px;border-radius:5px}.dropdown-list .reset-btn{margin:auto;width:100px;margin-bottom:20px}.dropdown-button{margin-top:10px;margin-bottom:5px}.my-btn{-moz-box-shadow:inset 0px -3px 7px 0px #9c88ff;-webkit-box-shadow:inset 0px -3px 7px 0px #9c88ff;box-shadow:inset 0px -3px 7px 0px #9c88ff;background-color:#9c88ff;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;border:1px solid #9c88ff;display:inline-block;cursor:pointer;color:#ffffff;font-size:15px;padding:9px 23px;text-decoration:none;text-shadow:0px 1px 0px #263666}.my-btn:hover{background-color:#8c7ae6}.my-btn:active{position:relative;top:1px}.logo-img{float:right}.my-btn:focus{outline:0}.dropdown-search{padding:5px}.dropdown-search:focus{outline:none}.dropdown-label{-moz-user-select:-moz-none;-khtml-user-select:none;-webkit-user-select:none;-ms-user-select:none;user-select:none}.highlighted{outline:5px solid #00a8ff}#reset-zoom{margin-top:10px;margin-bottom:10px}#reset-zoom:active{top:1px}svg{vertical-align:center;margin:auto;margin-top:30px;overflow:hidden;border:1px solid rgba(0,0,0,0.125);border-radius:.25rem}h1{font-size:32pt;font-weight:bold}h1,h2,h3{font-family:"Pontano Sans",sans-serif;font-weight:bold}h2{font-size:34pt}.c{clear:both}.node{stroke-width:1.5px}div.tooltip{text-align:center;font:12pt sans-serif}div.tooltip h3{font-size:24pt}div.tooltip a{font-size:16pt;color:#EEE}

.second {
  min-height: 100px;
}

.highlighted {
  outline: 5px solid #00a8ff;
}

#cluster-viz-container {
  justify-content: center;
  padding: 12px;

  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "svg filter"
    "tooltip .";
}

#title-container {
  grid-area: title;
}

#svg-container {
  grid-area: svg;
}

#filter-container {
  grid-area: filter;

  padding: 12px;
  border-radius: 4px;
  height: fit-content; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#filter-container > ul{
  margin: 12px auto;
}

#tooltip-container {
  grid-area: tooltip;

  margin: 0 12px;
  padding: 0 12px;
  background-color: rgba(255, 255, 255, 0.03);
  border-radius: 4px;
  height: fit-content;
}

#svg-container {
  padding: 0 12px;
}

#svg-container > svg {
  max-width: 100%;
  border-radius: 4px;
}

#reset-zoom-container {
  text-align: center;
  padding: 12px;
}

@media screen and (max-width: 1200px) {
  #cluster-viz-container {
    margin: auto;
    max-width: 1440px;
    grid-template-areas:
      "title title"
      "svg svg"
      "tooltip filter";
  }

  #svg-container {
    grid-column: 1/-1;
  }

  #svg-container {
    padding: 0;
  }

  #tooltip-container,
  #filter-container {
    margin: 12px 0;
  }
}

#title-container {
  grid-column: 1/-1;
  padding: 12px;
  text-align: center;
}

@media screen and (max-width: 600px) {
  #cluster-viz-container {
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "svg"
      "tooltip"
      "filter";
  }
}

#svg-container > svg {
  margin-top: 0;
}
