/* tooltip contianer (rename it) */

body {
font-family:"Pontano Sans",sans-serif;
}

.viz {
width:100vh;
height:60vh;
margin-bottom:30vh;
}

.second {
height:20vh;
}

.container {
max-width:1900px;
text-align:center;
width:100vh;
height:90vh;
margin:0 auto;
}

.container--fluid {
max-width:100%;
text-align:center;
margin:0;
}

.container__row {
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.col-1 {
flex-basis:50%;
}

.col-2 {
flex-basis:100%;
}

.dropdown-container {
width:100%;
height:100%;
}

.dropdown-list {
height:60vh;
margin-left:20px;
margin-right:20px;
}

.dropdown-list ul {
list-style-type:none;
overflow:hidden;
overflow-y:scroll;
text-align:left;
height:40vh;
width:200px;
}

.dropdown-list ul .list-item {
margin-top:10px;
margin-bottom:10px;
width:180px;
vertical-align:middle;
text-align:left;
}

.dropdown-list ul .list-item .label-text {
width:100px;
margin-left:20px;
display:inline-block;
}

.dropdown-list ul .list-item input {
margin-left:10px;
margin-right:10px;
}

.dropdown-list ul .list-item .cbx {
display:none;
}

.dropdown-list ul .list-item .source-check {
text-align:right;
vertical-align:middle;
position:relative;
cursor:pointer;
-webkit-tap-highlight-color:transparent;
transform:translate3d(0,0,0);
}

.dropdown-list ul .list-item .source-check:before {
content:"";
position:relative;
top:3px;
left:3px;
width:34px;
height:14px;
display:block;
background:gray;
border-radius:8px;
transition:background .2s ease;
margin-right:0;
}

.dropdown-list ul .list-item .slider {
position:absolute;
top:0;
left:0;
width:20px;
height:20px;
display:block;
background:#FFF;
border-radius:10px;
box-shadow:0 3px 8px rgba(128,128,128,0.5);
transition:all .2s ease;
}

.dropdown-list ul .list-item .slider:before {
content:"";
position:absolute;
display:block;
width:56px;
height:56px;
background:rgba(25,42,86,0.5);
border-radius:50%;
transform:scale(0);
opacity:1;
pointer-events:none;
margin:-18px;
}

.dropdown-list ul .list-item .cbx:checked+.source-check:before {
background:#dcdde1;
}

.dropdown-list ul .list-item .cbx:checked+.source-check .slider {
background:#273c75;
transform:translateX(20px);
transition:all .2s cubic-bezier(0.8,0.4,0.3,1.25),background .15s ease;
box-shadow:0 3px 8px rgba(39,60,117,0.2);
}

.dropdown-list ul .list-item .cbx:checked+.source-check .slider:before {
transform:scale(1);
opacity:0;
transition:all .4s ease;
}

.dropdown-list ul::-webkit-scrollbar-thumb {
background-color:#8331FE;
}

.dropdown-list ul::-webkit-scrollbar {
width:6px;
background-color:#F5F5F5;
}

.dropdown-list input {
border-radius:5px;
}

.dropdown-list .reset-btn {
width:100px;
margin:auto auto 20px;
}

.dropdown-button {
margin-top:10px;
margin-bottom:5px;
}

.my-btn {
-moz-box-shadow:inset 0 -3px 7px 0 #9c88ff;
-webkit-box-shadow:inset 0 -3px 7px 0 #9c88ff;
box-shadow:inset 0 -3px 7px 0 #9c88ff;
background-color:#9c88ff;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
border:1px solid #9c88ff;
display:inline-block;
cursor:pointer;
color:#fff;
font-size:15px;
text-decoration:none;
text-shadow:0 1px 0 #263666;
padding:9px 23px;
}

.my-btn:hover {
background-color:#8c7ae6;
}

.my-btn:active {
/* position:relative; */
/* top:1px; */
}

.logo-img {
float:right;
}

.my-btn:focus {
outline:0;
}

.dropdown-search {
padding:5px;
}

.dropdown-search:focus {
outline:none;
}

.dropdown-label {
-moz-user-select:0;
-khtml-user-select:none;
-webkit-user-select:none;
-ms-user-select:none;
user-select:none;
}

.highlighted {
outline:5px solid #00a8ff;
}

#reset-zoom {
margin-top:10px;
margin-bottom:10px;
}

#reset-zoom:active {
top:1px;
}

h1,h2,h3 {
font-family:"Pontano Sans",sans-serif;
font-weight:700;
}

h2 {
font-size:34pt;
}

.c {
clear:both;
}

.node {
stroke-width:1.5px;
}

div.tooltip {
text-align:center;
font:12pt sans-serif;
}

div.tooltip h3 {
font-size:24pt;
}

div.tooltip a {
font-size:16pt;
color:#EEE;
}

@media screen and (min-width:1900px){
  __col-md-1 {
  flex-basis:50%;
  }

  __col-md-2 {
  flex-basis:100%;
  }
}

.dropdown-list  {
  text-align: center;
}
.second {
  min-height: 100px;
}

.highlighted {
  outline: 5px solid #00a8ff;
}

#cluster-viz-container {
  justify-content: center;
  padding: 12px;
  margin-top: 152px

  /* display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: auto;
  grid-template-areas:
    "title title"
    "svg filter"
    "tooltip ."; */
}

#title-container {
  grid-area: title;
}

#svg-container {
  grid-area: svg;
}

#story-grid {
  width: 100%;
}

#filter-bookmark-container {
  display: none;
  height: 100%;
  width: 20%;
  grid-area: filter;
  background-color: rgba(0,0,0,.8);
  top: 0;
  bottom: 0;
  left: 80%;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;

  /* padding: 12px; */
  border-radius: 4px;
  /* height: fit-content; */
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8331FE;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #6c5ce7;
}

#filter-bookmark-container h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

#filter-container > ul{
  margin: 12px auto;
}

#svg-container {
  padding: 0 12px;
}

#svg-container > svg {
  max-width: 100%;
  border-radius: 4px;
}

#reset-zoom-container {
  text-align: center;
  padding: 12px;
}

@media screen and (max-width: 1200px) {
  #cluster-viz-container {
    margin: auto;
    max-width: 1440px;
    grid-template-areas:
      "title title"
      "svg svg"
      "tooltip filter";
  }

  #svg-container {
    grid-column: 1/-1;
  }

  #svg-container {
    padding: 0;
  }
}

#title-container {
  grid-column: 1/-1;
  padding: 12px;
  text-align: center;
  margin-top: 50px;
}

@media screen and (max-width: 600px) {
  #cluster-viz-container {
    grid-template-columns: auto;
    grid-template-areas:
      "title"
      "svg"
      "tooltip"
      "filter";
  }
}

#svg-container > svg {
  margin-top: 0;
}

#select-second-prompt {
  position: fixed;
  bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0,0,0,.95);
  padding: 30px;
}

body > div[role="tooltip"] * {
  background-color: black;
}

/* Transitions */
.fade-appear {
  opacity: 0;
}
.fade-appear-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in;
}


.fadeLeft-appear {
  opacity: 0;
  transform: translateX(20px);
}
.fadeLeft-appear.fadeLeft-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.fadeLeft-enter {
  opacity: 0;
  transform: translateX(20px);
}
.fadeLeft-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.fadeLeft-exit {
  opacity: 1;
  transform: translateX(0);
}
.fadeLeft-exit-active {
  opacity: 0;
  transform: translateX(20px);
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: linear;
}


.fadeRight-appear {
  opacity: 0;
  transform: translateX(-20px);
}
.fadeRight-appear.fadeRight-appear-active {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 200ms;
  transition-timing-function: linear;
}
.fadeRight-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.fadeRight-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: linear;
}
.fadeRight-exit {
  opacity: 1;
  transform: translateX(0);
}
.fadeRight-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition-property: opacity, transform;
  transition-duration: 300ms;
  transition-timing-function: linear;
}