/* Home Container */

#home-container {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;
  position: fixed;
  font-family: "Open Sans", sans-serif !important;
}

#home-container > section {
  grid-column: 1/4;
}

/* Hero */

#hero {
  min-height: 633px;
  padding: 0 96px;
  padding-top: 209px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6c5ce7;
}

#hero h1,
#hero h2 {
  max-width: 878px;
  color: white;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
  line-height: 1.3;
  padding-left: 26px;
}

#hero h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 56px;
}

#hero h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
  padding-bottom: 110px;
}

/* Featured Stories */

#featured-stories {
  width: 1919px;
  max-width: 100%;
  margin: auto;
  margin-top: 0;
  padding: 0 76px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-content: start;
  grid-gap: 20px;
}

/* StoryCard */

.story-card {
  height: 437px;
  padding: 20px 20px;
  border-radius: 16px;

  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  max-width: 382px;
  margin: auto;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
}

.story-card .title {
  color: white;
  font-size: 1.5em;
}

.story-card-container {
  text-decoration: none;
  transition: all 100ms ease;
}

.story-card-container:hover {
  margin-top: -5px;
}

/* News Sources */

#news-sources-container {
  margin: 80px 0;
  padding: 0 12px;
}

#news-sources ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

#news-sources {
  margin: auto;
  margin-top: 50px;
  max-width: 100%;
  width: 1040px;
}

.news-logo {
  height: 40px;
  filter: invert(100%);
  opacity: 0.5;
  margin: 10px;
}

@media screen and (max-width: 800px) {
  #featured-stories {
    grid-template-columns: repeat(2, 1fr);
  }

  #featured-stories > section {
    grid-column: 1/3;
  }

  .story-card-container {
    grid-column: 1/3;
  }
  .story-card {
    max-width: 100%;
    margin-bottom: 40px;
  }
}

/* NavBar */

nav {
  width: 100%;
  padding-top: 16px;
  position: absolute;
  font-family: "Dubai", "Open Sans", sans-serif;
}

nav > ul {
  max-width: 100%;
  padding: 0 12px;
  margin: 0 96px;

  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}

#nav-link-1 {
  justify-self: start;
}

#nav-link-2 {
  color: white;
  justify-self: end;
  font-size: 36px;
}

#nav-link-2 > span {
  margin-right: 40px;
}

#logo {
  width: 40px;
}

/* NavBar Links */

nav a {
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.logo-wrapper {
  display: flex;
  align-items: center;
}

#logo-name {
  margin-left: 16px;
  font-size: 48px;
  font-weight: bold;
}

.stories {
  height: 760px;
  display: flex;
  flex-direction: column;
}

.stories h1,
.how-it-works h1 {
  margin-top: 70px;
  text-align: center;
  font-size: 64px;
  color: #4c1287;
}

.how-it-works h1 {
  font-family: "Dubai", "Open Sans", sans-serif;
}

.how-it-works div {
  max-width: 1693px;
  padding: 76px;
  margin: auto;
  display: grid;
}

.how-it-works p {
  font-family: "Dubai", "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 32px;
  color: #2d292a;
  line-height: 1.6;
  margin: 20px auto;
  margin-bottom: 60px;
}

.how-it-works img {
  max-width: 100%;
  margin: auto;
}


@media screen and (max-width: 1300px) {
  #hero h1 {
    padding-top: 48px;
    font-size: 48px;
  }

  #hero h2 {
    font-size: 24px;
  }

  .how-it-works img {
    max-width: 80%;
  }

  .how-it-works p {
    font-size: 24px;
  }
  
  nav > ul {
    margin: 0 20px;
  }

  #hero {
    padding-left:20px;
    padding-right:20px;
  }

  #logo-name {
    font-size: 36px;
  }

  #nav-link-2 {
    font-size: 24px;
  }
}