.fade-appear {
  opacity: 0;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  transition-property: opacity;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

.fade-exit {
  opacity: 0;
}
.fade-exit.fade-exit-active {
  opacity: 1;
  transition: opacity 300ms linear;
}
.fade-exit-done {
  opacity: 0;
}

.fade-enter {
  opacity: 0;
}
.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms linear;
}