.summarizer-modal-container {
  /* use the following to adjust the modal relative to the browser window" */
  position: fixed;
  height: 80%;
  width: 60%;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);

  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: scroll;
}

.summary-text {
  font-size: 16pt;
}

.summarizer-modal-container::-webkit-scrollbar-track  {
  background: rgba(0,0,0,.8);
}

.summarizer-modal-articles {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
}

.summarized-article-title, .summarized-article-date {
  text-align: center;
}

.summarizer-modal-close-button {
  position: absolute;
  top: 20px;
  right: 20px;
}
