.summarizer-modal-container {
  /* use the following to adjust the modal relative to the browser window" */
  position: fixed;
  height: calc(100% - 200px);
  width: calc(100% - 400px);
  top: 50%;
  left: 10px;
  transform: translate(0, -50%);

  background-color: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 10px;
}

.summarizer-modal-articles {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 40px;
}

.summarized-article-title, .summarized-article-date {
  text-align: center;
}