#home-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  grid-gap: 20px;
}

#home-container > section {
  grid-column: 1/4;
}

#hero h1,
#hero h2,
#news-sources-container h3 {
  text-align: center;
}

#news-sources ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Hero */
#hero {
  margin: 50px auto;
}

#hero h1 {
  font-size: 4em;
  margin-bottom: 0;
}

#hero h2 {
  font-size: 1.5em;
}

/* StoryCard */

.story-card {
  height: 400px;
  padding: 20px 20px;
  border-radius: 5px;

  background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45));
  background-color: gray;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.story-card .title {
  color: white;
  font-size: 1.5em;
}

.story-card-container {
  text-decoration: none;
}

/* News Sources */

#news-sources-container {
  margin: 50px 0;
}

#news-sources {
  margin-top: 50px;
}

.news-logo {
  height: 30px;
}
