#home-container {
  min-height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: start;
  grid-gap: 20px;
}

#home-container > section {
  grid-column: 1/4;
}

#hero h1,
#hero h2,
#news-sources-container h3 {
  text-align: center;
}

#news-sources ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Hero */
#hero h1 {
  font-size: 4em;
  margin-bottom: 0;
}

#hero h2 {
  font-size: 1.5em;
}

/* StoryCard */

.story-card {
  height: 200px;
  padding: 0 20px;
  background-color: gray;
  border-radius: 5px;
}
