#app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

/* NavBar */
nav {
  padding: 0 12px;
  width: 1040px;
  max-width: 100%;
  margin: auto;
}

nav > ul {
  width: 100%;
  padding: 0;
  list-style-type: none;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: end;
}

#nav-link-1 {
  justify-self: start;
  grid-column: 1/4;
}
