ul {
  list-style-type: none;
  padding: 0;
}

#app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  margin: auto;
}

main {
  flex: 1;
}

/* Main Content */

main {
  flex: 1;
  width: 100%;
  margin: auto;
}

/* Transition Animations */

.page-appear {
  opacity: 0;
}

.page-appear-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.page-enter {
  opacity: 0;
}

.page-enter-active {
  opacity: 1;
  transition: opacity 300ms, transform 300ms;
}

.page-exit {
  opacity: 1;
}

.page-exit-active {
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}
